<html>
  <section class="m-3" *ngFor="let info of _notificationInfo">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="{{ info.subject }}" style="font-family: ui-sans-serif !important;">
        <ng-template ngbPanelContent>
          <ul>
            <li>{{ headings.app }} {{ info.app }}</li>
            <li>{{ headings.env }} {{ info.env }}</li>
            <li>{{ headings.activity }} {{ info.activity }}</li>
            <li>{{ headings.desc }} {{ info.description }}</li>
            <li>{{ headings.details }} {{ info.details }}</li>
            <li>
              {{ headings.updates }}
              <ul>
                <span *ngFor="let item of info.updates">
                  <li>{{ item }}</li>
                </span>
              </ul>
            </li>
          </ul>
          <button class="btn-info btn-sm m-2" (click)="selectActivity(info)">
            {{ headings.btnUpdate }}
          </button>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</html>
