<ng-container *ngIf="isSearchPanelVisible">
  <div>
    <app-search-activity-container
      (_notificationInfoObject)="searchActivity($event)"
    ></app-search-activity-container>
  </div>
  <div>
    <app-extension-activities-display
      [_notificationInfo]="_notificationInfo$ | async"
      (_activityInfo)="selectedActivity($event)"
    ></app-extension-activities-display>
  </div>
</ng-container>
<ng-container *ngIf="!isSearchPanelVisible">
  <div class="row">
    <div class="col-md-3">
      <div>
        <app-form [mainForm]="activityForm" [isUpdate]="true"
        (viewUpdates)="previewUpdates($event)"
        ></app-form>
      </div>
    </div>
    <div class="col-md-9">
      <app-activity-extension-template
        [mainForm]="activityForm"
        [updateFieldValues]="updateFormFieldValues"
        [htmlView]="_htmlView"
      ></app-activity-extension-template>
    </div>
  </div>
</ng-container>
