<html>
  <div class="row m-1" style="border: rgb(255, 165, 0)">
    <div class="container shadow px-4 py-4 bg-white">
      <h6 style="background-color: rgb(255, 165, 0)" align="center">
        {{ headings.formTitle }}
      </h6>
      <p>
        {{ headings.information }} <br />
        We would like to inform you about a
        <span> {{ mainForm.get("activity").value }} activity</span>
        on <span>{{ mainForm.get("application").value }} </span>
        <span>{{ mainForm.get("environment").value }} </span> services during
        the mentioned time-frame
      </p>

      <table class="table" border="1">
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Description</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">
              {{ mainForm.get("activity").value }} -
              {{ mainForm.get("description").value }}
            </dd>
          </td>
        </tr>
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Downtime Start</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">
              {{ mainForm.get("start").value }} CEST/CET
            </dd>
          </td>
        </tr>
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Downtime End</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">{{ mainForm.get("end").value }} CEST/CET</dd>
          </td>
        </tr>
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Details</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">{{ mainForm.get("details").value }}</dd>
          </td>
        </tr>
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Next Info</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">{{ mainForm.get("nextInfo").value }}</dd>
          </td>
        </tr>
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Ticket System</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">{{ mainForm.get("ticketSystem").value }}</dd>
          </td>
        </tr>
        <tr scope="row" class="col-md-6" border="1">
          <dt class="col-md-4" border="1">Updates</dt>
          <td class="col-md-8" border="1">
            <dd class="col-md-12">
              <ul>
                <span *ngFor="let item of updateFieldValues">
                  <li>{{ item }}</li>
                  <br />
                </span>
              </ul>
            </dd>
          </td>
        </tr>
      </table>
      <span [innerHTML]="headings.footerTemplate"></span>
      <h6 style="background-color: rgb(255, 165, 0)" align="center">
        {{ headings.footer }}
      </h6>
      <button class="btn-sm btn-primary" (click)="sendDetails()">
        {{ headings.update }} <i class="fa fa-location-arrow"></i>
      </button>
    </div>
  </div>
</html>
