<html>
  <form [formGroup]="mainForm" class="bg-white">
    <div class="form-group shadow px-3 py-3">
      <div class="col col-align">
        <label>{{ headings.app }}</label>
        <select class="form-control" formControlName="application">
          <option *ngFor="let item of ddlApp" [ngValue]="item">
            {{ item }}
          </option>
        </select>
      </div>
      <div *ngIf="mainForm.get('application').touched">
        <span
          *ngIf="mainForm.get('application').hasError('required')"
          class="error"
          >Please Select the Application</span
        >
      </div>

      <div class="col col-align">
        <label>{{ headings.env }}</label>
        <select class="form-control" formControlName="environment">
          <option *ngFor="let item of ddlEnvironment" [ngValue]="item">
            {{ item }}
          </option>
        </select>
      </div>
      <div *ngIf="mainForm.get('environment').touched">
        <span
          *ngIf="mainForm.get('environment').hasError('required')"
          class="error"
          >Please Select the Environment</span
        >
      </div>

      <div class="col col-align">
        <label>Activity</label>
        <select class="form-control" formControlName="activity">
          <option *ngFor="let activity of ddlActivity" [ngValue]="activity">
            {{ activity }}
          </option>
        </select>
      </div>
      <div *ngIf="mainForm.get('activity').touched">
        <span
          *ngIf="mainForm.get('activity').hasError('required')"
          class="error"
          >Please Select the Activity</span
        >
      </div>

      <div class="col col-align">
        <label>Start Time </label>
        <input
          type="datetime-local"
          class="form-control"
          formControlName="start"
        />
      </div>
      <div *ngIf="mainForm.get('start').touched">
        <span *ngIf="mainForm.get('start').hasError('required')" class="error"
          >Please Select the Start Time</span
        >
      </div>

      <div class="col col-align">
        <label>End Time</label>
        <input
          type="datetime-local"
          class="form-control"
          formControlName="end"
        />
      </div>
      <div *ngIf="mainForm.get('end').touched">
        <span *ngIf="mainForm.get('end').hasError('required')" class="error"
          >Please Select the End Time</span
        >
      </div>

      <div class="col col-align">
        <label>Description</label>
        <textarea formControlName="description" class="form-control">
        </textarea>
      </div>
      <div *ngIf="mainForm.get('description').touched">
        <span
          *ngIf="mainForm.get('description').hasError('required')"
          class="error"
          >Please Enter the Description</span
        >
      </div>
      <section *ngIf="isUpdate">
        <div class="col col-align">
          <label>{{headings.nextInfo}}</label>
            <input
              type="text"
              class="form-control"
              formControlName="nextInfo"
            />
        </div>
        <div *ngIf="mainForm.get('nextInfo').touched">
          <span
            *ngIf="mainForm.get('nextInfo').hasError('required')"
            class="error"
            >Please Enter the next update time</span
          >
        </div>
        <div class="col col-align">
          <label>{{headings.ticketSystem}}</label>
            <input
              type="text"
              class="form-control"
              formControlName="ticketSystem"
            />
        </div>
        <div *ngIf="mainForm.get('ticketSystem').touched">
          <span
            *ngIf="mainForm.get('ticketSystem').hasError('required')"
            class="error"
            >Please Enter the ticketSystem information</span
          >
        </div>
      </section>
      <div class="col col-align">
        <label>Details</label>
        <textarea formControlName="details" class="form-control"></textarea>
      </div>
      <div *ngIf="mainForm.get('details').touched">
        <span *ngIf="mainForm.get('details').hasError('required')" class="error"
          >Please Enter the Details</span
        >
      </div>
      <section *ngIf="isUpdate">
        <div class="col col-align">
          <label>Updates</label>
          <textarea formControlName="updates" class="form-control"></textarea>
        </div>
        <div class="col col-align d-flex justify-content-center">
          <button class="btn-sm btn-primary" (click)="onClick()">
            {{headings.btnPreview}} <i class="fas fa-binoculars"></i>
           </button>
        </div>
      </section>
    </div>
  </form>
</html>
