<p>error-page works!</p>
<div class="row">
    <div class="col-sm-3">
        <div class="container">
            <form [formGroup]="updateForm" class="bg-white">
                <div class="form-group row shadow px-4 py-4 ">

                    <label>Update</label>
                    <textarea formControlName="update" class="form-control"></textarea>
                    <label>Application</label>
                    <input class="form-control" formControlName="application">

                    <label>Environment</label>
                    <input class="form-control" formControlName="environment">

                    <label>Activity</label>
                    <input class="form-control" formControlName="activity">

                    <label>Description</label>
                    <textarea formControlName="description" class="form-control"></textarea>

                    <label>Impact</label>
                    <textarea formControlName="impact" class="form-control"></textarea>

                    <label>Start Time</label>
                    <input type="datetime-local" class="form-control" formControlName="start" />

                    <label>End Time</label>
                    <input type="datetime-local" class="form-control" formControlName="end" />

                    <label>Details</label>
                    <textarea formControlName="details" class="form-control"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="container shadow px-4 py-4 bg-white">
            <img class="mw-100" src="..\..\..\assets\logo.jpg">

            <h6 style="background-color:rgb(255, 165, 0);" align='center'>Lufthansa CUP  & UDH Operations</h6>
            <p>Dear Ladies and Gentlemen,</p>
            <p>We would like to inform there is a <span> {{updateForm.get('activity').value}}</span> on
                <span>{{updateForm.get('application').value}}</span> sevices during the mentioned time-frame </p>

            <div class="container position-static-left">
                <dl class="row">

                    <dt class="col-sm-2">Update</dt>
                    <dt class="col-sm-1">:</dt>
                    <dd class="col-sm-9 text-justify">{{updateForm.get('update').value}}</dd>

                    <dt class="col-sm-2">Description</dt>
                    <dt class="col-sm-1">:</dt>
                    <dd class="col-sm-9 text-justify">{{updateForm.get('description').value}}</dd>

                    <dt class="col-sm-2">Impact</dt>
                    <dt class="col-sm-1">:</dt>
                    <dd class="col-sm-9 text-justify">{{updateForm.get('impact').value}}</dd>

                    <dt class="col-sm-2">Downtime Start</dt>
                    <dt class="col-sm-1">:</dt>
                    <dd class="col-sm-9">{{updateForm.get('start').value}}</dd> 

                    <dt class="col-sm-2">Downtime End</dt>
                    <dt class="col-sm-1">:</dt>
                    <dd class="col-sm-9">{{updateForm.get('end').value}}</dd>

                    <dt class="col-sm-2">Details</dt>
                    <dt class="col-sm-1">:</dt>
                    <dd class="col-sm-9 text-justify">{{updateForm.get('details').value}}</dd>

                </dl>
            </div>
            <p></p>
            <p>Apologies for any inconvenience.</p>
            <p>For any issues / queries regarding the activity, kindly get in touch with the CUP Operations team.<br>
                OP’s Team 1: +91 88862 83377<br>
                OP’s Team 2: +91 88862 83366<br>
                Escalation point of contact : +91 9912598315</p>
            <p>Kind regards,<br>
                CUP Operations Team.</p>
            <button class="btn btn-primary">Update</button>
        </div>
    </div>
</div>