.header-panel {
  max-width: 1200px !important;
  background-color: red;
  margin-left: 2rem;
  color: whitesmoke;
  font-weight: bold;
  font-family: ui-serif;
}
.heading {
  padding-top: 0.5rem;
  padding-left: 2rem;
  font-size: 1rem;
}
.icon {
  padding-left: 2rem;
  color: whitesmoke !important;
}

