<html>
  <div class="row m-1">
    <div class="col-md-3">
      <app-form [mainForm]="mainForm"></app-form>
    </div>
    <div class="col-md-9">
      <div class="container shadow px-4 py-4 bg-white">
        <h6 style="background-color: rgb(255, 165, 0)" align="center">
          Lufthansa CUP & UDH Operations
        </h6>

        <p>Dear Ladies and Gentlemen,</p>
        <p>
          We would like to inform you about a
          <span> {{ mainForm.get("activity").value }} activity</span>
          <!-- <span> {{mainForm.get('environment').value}} </span> on -->
          on <span>{{ mainForm.get("application").value }} </span>
          <span>{{ mainForm.get("environment").value }} </span> services during
          the mentioned time-frame
        </p>

        <table class="table" border="1">
          <tr scope="row" class="col-md-6" border="1">
            <dt class="col-md-6" border="1">Description</dt>
            <td class="col-md-6" border="1">
              <dd class="col-md-6">
                {{ mainForm.get("activity").value }} -
                {{ mainForm.get("description").value }}
              </dd>
            </td>
          </tr>
          <tr scope="row" class="col-md-6" border="1">
            <dt class="col-md-6" border="1">Downtime Start</dt>
            <td class="col-md-6" border="1">
              <dd class="col-md-6">
                {{ mainForm.get("start").value }} CEST/CET
              </dd>
            </td>
          </tr>
          <tr scope="row" class="col-md-6" border="1">
            <dt class="col-md-6" border="1">Downtime End</dt>
            <td class="col-md-6" border="1">
              <dd class="col-md-6">{{ mainForm.get("end").value }} CEST/CET</dd>
            </td>
          </tr>
          <tr scope="row" class="col-md-6" border="1">
            <dt class="col-md-6" border="1">Details</dt>
            <td class="col-md-6" border="1">
              <dd class="col-md-6">{{ mainForm.get("details").value }}</dd>
            </td>
          </tr>
        </table>

        <p></p>
        <p>Apologies for any inconvenience.</p>
        <p>
          For any issues / queries regarding the activity, kindly get in touch
          with the CUP/UDH Operations team.<br />
          OP’s Team 1: +91 88862 83377<br />
          OP’s Team 2: +91 88862 83366<br />
          <!-- Escalation point of contact : +91 9912598315</p> -->
        </p>
        <p>
          Kind regards,<br />
          CUP/UDH Operations Team.
        </p>
        <h6 style="background-color: rgb(255, 165, 0)" align="center">
          ALL RIGHTS RESERVED BY CGI@2020
        </h6>
        <button class="btn btn-primary" (click)="submitForm()">
          Send<i class="fa fa-location-arrow"></i></button
        ><br />
        <br />
      </div>
    </div>
  </div>
</html>
