<div class="m-2 row row-cols-1 row-cols-md-3 g-4">
  <section *ngFor="let info of _notificationInfo">
    <div class="col col-align">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">{{ info.subject }}</h5>
          <ul>
            <li class="card-text">{{ title.app }} {{ info.app }}</li>
            <li class="card-text">{{ title.env }} {{ info.env }}</li>
            <li class="card-text">{{ title.desc }} {{ info.description }}</li>
            <li class="card-text">{{ title.details }} {{ info.details }}</li>
            <li class="card-text">{{ title.activity }} {{ info.activity }}</li>
          </ul>
        </div>
        <button class="btn-info btn-sm m-2" (click)="selectActivity(info)">
          {{ title.reminder }}
        </button>
      </div>
    </div>
  </section>
</div>
