.card {
    background-color: #e0dcb4;
    border-radius: 0.55rem !important;
    font-family: sans-serif;
}
.btn-sm {
    border-radius: 0.35rem !important;
    max-width: 120px !important;
}
.col-align {
    margin-top: 1rem;
}
