.img-alignment {
    text-align: center;
    background-color: red;
    color: whitesmoke;
}
.img-create {
    margin-top: 2rem;
}
.card {
    display: block;
}
.carousel-item {
    margin-right: -75% !important;
}
.jumbotron {
    background-color: #bfbebc;
}
.carousel {
    max-width: 1200px;
}