<!-- <html>
  <div>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleCaptions"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      </ol>
      <div class="jumbotron shadow m-5">
        <div class="d-flex justify-content-center carousel-inner">
          <div class="carousel-item active align-self-center" (click)="createNotification()">
            <img
              src="..\..\..\assets\images\card-create.jpg"
              class="w-25"
              alt="..."
            />
          </div>
          <div class="carousel-item" (click)="sendReminder()">
            <img
              src="..\..\..\assets\images\card-reminder.jpg"
              class="w-25"
              alt="..."
            />
          </div>
          <div class="carousel-item" (click)="activityExtensions()">
            <img
              src="..\..\..\assets\images\card-extensions.png"
              class="w-25"
              alt="..."
            />
          </div>
          <div class="carousel-item" (click)="endNotification()">
            <img
              src="..\..\..\assets\images\card-ended.jpg"
              class="w-25"
              alt="..."
            />
          </div>
        </div>
  
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>  
</html> -->

<div class="container mx-align">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <!-- Name Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.action}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="redirectScreen(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>