.jumbotron{
    background-color: #096dec44;
    padding: 2rem 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.col-align {
    margin-top: 1rem;
    font-size:0.85rem;
    font-weight: bold;
}
.button {
    background-color: #0c23a7;
    color: whitesmoke;
    margin-right: 1rem;
    border-radius: 0.75rem;
}