<html>
  <div class="jumbotron shadow">
    <div class="row">
      <h6 style="font-weight: bold !important">{{ headings.searchTitle }}</h6>
    </div>
    <form [formGroup]="searchForm" class="row">
      <div class="col-md-4 col-align">
        <label for="startDate"> {{ headings.startDate }} </label>
        <input
          type="date"
          id="startDate"
          formControlName="startDate"
          [min]="currentDate"
        />
      </div>
      <div class="col-md-4 col-align">
        <label for="endDate"> {{ headings.endDate }} </label>
        <input
          type="date"
          id="endDate"
          formControlName="endDate"
          [min]="currentDate"
        />
      </div>
      <div class="col-md-4 col-align">
        <button id="btnSearch" class="button" (click)="onSearchActivity()">
          <i class="fas fa-search">{{ headings.search }}</i>
        </button>
        <button id="btnReset" class="button" (click)="onReset()">
          <i class="fas fa-redo-alt">{{ headings.reset }}</i>
        </button>
      </div>
    </form>
  </div>
</html>
