<ng-container *ngIf="isSearchPanelVisible">
  <div>
    <app-search-activity-container
      (_notificationInfoObject)="searchActivity($event)"
    ></app-search-activity-container>
  </div>
  <div>
    <app-reminder-activities-display
      [_notificationInfo]="_notificationInfo$ | async"
      (_activityInfo)="selectedActivity($event)"
    ></app-reminder-activities-display>
  </div>
</ng-container>
<ng-container *ngIf="!isSearchPanelVisible">
  <app-reminder-form [mainForm]="mainForm"></app-reminder-form>
</ng-container>
