<ng-container *ngIf="isSearchPanelVisible">
  <div>
    <app-search-activity-container 
    (_notificationInfoObject)="searchActivity($event)"></app-search-activity-container>
  </div>
  <div>
    <app-end-activities 
    [_notificationInfo]="_notificationInfo$ | async" 
    (_activityInfo)="selectedActivity($event)">
    </app-end-activities>
  </div>
</ng-container>
<ng-container *ngIf="!isSearchPanelVisible">
  <div class="row">
    <div class="col-md-3">
      <div>
        <app-form 
        [mainForm]="activityForm" 
        [isUpdate]="true" 
        (viewUpdates)="previewUpdates($event)"></app-form>
      </div>
    </div>
    <div class="col-md-9">
      <app-end-form 
      [mainForm]="activityForm" 
      [updateFieldValues]="updateFormFieldValues"
      [htmlView]="_htmlView"></app-end-form>
    </div>
  </div>
</ng-container>